{% extends "@App/BaseEmp/base.html.twig" %}





{% block content %}

<section>
    <div class="container-fluid ">
        <div class="utilisateur">
            <div class="offset-10 col-2">
                {% if app.user %}
                    <h4 class="nomUtil">{{ app.user.username }}</h4>
                {% endif %}
                <p>
                    <a href="{{ path('fos_user_security_login') }}" class="deco">Deconnexion</a>
                </p>
            </div>
        </div>
    </div>
</section>

    <div class="container-fluid  fondEmp">
        <div class="container text-center menuEmp ">
            <div class="row">
                <div class="col-12 d-lg-flex navEmp">
                    <div class="col-3 col-sm-2 col-md-2 d-lg-none hamb">
                        <img src="{{ asset('img/menu_hamb.png') }}" alt="menu" class="img-fluid">
                    </div>
                    <div class="col-6 d-lg-none menuSlide">
                        <div class="col-12 mt-4">
                            <p><a href="{{ path('accueil_emp') }}" class="aEmpAccueil">Accueil </a></p>
                        </div>
                        <div class="col-12 mt-4">
                            <p><a href="#" class="aEmpDoc">Mes documents</a></p>
                        </div>
                        <div class="col-12 mt-4">
                            <p><a href="#">Notes d'information</a></p>
                        </div>
                        <div class="col-12 mt-4">
                            <p><a href="{{ path('emp_profil') }}" class="">Mon profil</a></p>
                        </div>
                    </div>
                    <div class="col-3 d-none d-lg-block">
                        <h4>
                            <a href="{{ path('accueil_emp') }}" class="aEmpAccueil">Accueil </a>
                        </h4>
                    </div>

                    <div class="col-3 d-none d-lg-block">
                        <h4>
                            <a href="#" class="aEmpDoc">Mes documents</a>
                        </h4>
                    </div>
                    <div class="col-3 d-none d-lg-block">
                        <h4>
                            <a href="#">Notes d'information</a>
                        </h4>
                    </div>
                    <div class="col-3 d-none d-lg-block">
                        <h4>
                            <a href="{{ path('emp_profil') }}" class="">Mon profil</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row col-12 align-items-end mt-5 ">
                <div>
                    <h5>{{ app.user.nom }}</h5>
                    <h5>{{ app.user.prenom }}</h5>
                    <h5>{{ app.user.dateNaissance | date('d/m/Y') }}</h5>
                    <h5>{{ app.user.email }}</h5>

                    <h5>{{ app.user.adresse }}</h5>
                    <h5>{{ app.user.dateEmbauche | date('d/m/Y') }}</h5>
                    <h5>{{ app.user.site }}</h5>

                </div>
            </div>
        </div>
    </div>






{% endblock %}