{% extends "@App/Base/base.html.twig" %}


{% block title %} Accueil {% endblock %}



{% block header%}

    <header>

        <div class="container-fluid justify-content-center text-center">

            <div class="row justify-content-around align-items-center text-center sticky">
                <div class="col-2 col-md-1 col-lg-1">
                    <img src="{{ asset('img/7236b6d3f921.png') }}" alt="croix de vie" class="img-fluid">
                </div>
                <div class="col-2 offset-5 d-lg-none">
                    <img src="{{ asset('img/menu_hamb.png') }}" alt="menu" class="img-fluid">
                </div>
                <div class=" col-2 offset-1 d-none d-lg-block nav text-center">

                    <h1 class="nav1"><a href="{{ path('accueil_users') }}" class="accueilNav">Accueil </a></h1>
                </div>

                <div class="col-2 d-none d-lg-block nav text-center">
                    <h1 class="nav2 ">
                        <a href="{{ path('users_ambulances') }}">Ambulances</a>
                    </h1>
                </div>
                <div class="col-2 d-none d-lg-block nav">
                    <h1 class="nav3 ">
                        <a href="#">Vsl & taxis</a>
                    </h1>
                </div>
                <div class="col-2 d-none d-lg-block nav">
                    <h1 class="nav4 ">
                        <a href="#">Sites</a></h1>
                </div>
                <div class="col-2 d-none d-lg-block nav"><h1 class="nav5 "><a href="#">Contact</a></h1>
                </div>
            </div>

        </div>
    </header>
{% endblock %}

{% block content %}

    <div class="container-fluid parallax-window fond" data-parallax="scroll" data-image-src="{{ asset('img/ambu_toyota.jpg') }}">
        <div class="container  justify-content-center align-items-center text-center opacity ">
            {#<div class="parallax-window" data-parallax="scroll" data-image-src="/path/to/image.jpg"></div>#}

            <div class="col-12">
                <h1 id="titre">Les Ambulances Groupe 33 vous accueillent à Grezillac, Vayres et Saint Magne de Castillon</h1>
            </div>
            <div class="col-12">
                <p id="slogan"> <strong> Les Ambulances Groupe 33 toujours à vos côtés !</strong></p>
            </div>
        </div>

    </div>
    <div class="container d-flex align-items-center ">
        <div class="col-12 col-lg-6">
            <div class="col-12">
                <h2 class="about">Ambulances Groupe 33 SARL,
                    à votre service en Gironde (33) !</h2>
            </div>
            <div class="col-lg-12">
                <p>La SARL Ambulances Groupe 33 est implantée en Gironde (33), sur plusieurs sites : Branne, Vayres, Saint-Magne-de-Castillon et Grézillac. Les véhicules se déplacent dans toute la France et en Europe pour le transport de personnes.

                    L'équipe de la société Ambulances Groupe 33 reste à votre service pour le transport en ambulance, en taxi ou en VSL, pour des trajets toutes distances.
                    Le dévouement de l'équipe et sa gentillesse font partie de nos atouts.

                    Nous possédons des ambulances pour le transport de patients assis et couchés pour des trajets vers les hôpitaux, les maisons de retraite et pour les rendez-vous médicaux.

                    Notre flotte de taxis vous transporte où vous le souhaitez, partout en France entière et en Europe.

                    Nos véhicules sont neufs et régulièrement révisés : la sécurité et le confort de nos passagers sont nos priorités.

                    Pour de plus amples informations, contactez la SARL Ambulances Groupe 33 en Gironde !.</p>
            </div>

        </div>
        <div class="d-none d-md-block col-lg-6">

            <img src="{{ asset('img/ambulance_2.png') }}" alt="" class="img-fluid">

        </div>
    </div>
    <div class="col-12 d-md-none">

        <img src="{{ asset('img/ambulance_2.png') }}" alt="" class="img-fluid">

    </div>
    <article>
        <div class="container-fluid parallax-window milieu" data-parallax="scroll" data-image-src="{{ asset('img/ambu5.jpg') }}">
            <div class="container d-flex  justify-content-around align-items-center text-center opacity">
                <div class="d-none d-md-block col-lg-5  ">

                    <img src="{{ asset('img/ambulance_brancard2.jpg') }}" alt="" class="img-fluid imgMilieu">
                </div>
                {#<div class="d-none col-lg-8 articleMilieu">
                    <p>Forte de 50 ambulanciers et 40 véhicules ambulances,
                        VSL et taxis, notre société créée en 2000
                        à Branne est présente sur 4 sites.
                    </p>
                </div>#}
                <div class="col-lg-6">
                    <p>
                        Bienvenue aux AMBULANCES GROUPE 33. Notre société, créée en 2000, n'a cessé jusqu'a ce jour de se développer.
                        Elle est actuellement composée d'ambulanciers diplômés répartis sur quatre sites à Branne, Grézillac, Vayres et Saint-Magne-de-Castillon, en Gironde.
                        Notre expérience est à votre service pour vous apporter la sécurité nécessaire dans vos transports, ainsi qu'un service tourné sur la relation humaine.
                        Les Ambulances Groupe 33 toujours à vos cotés
                    </p>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="container-fluid d-lg-flex justify-content-around mt-lg-5">
            <div class="col-12 col-lg-4 box">
                <div class="col-lg-12 coulTitre ">
                    <h3 class="titreBox1">Ambulance Lourde</h3>
                </div>
                <div class="col-lg-10 resa">
                    <button type="button" class="btn btn-primary">Je réserve</button>
                </div>
                <img src="{{ asset('img/ambu_atsu.jpg') }}" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-lg-4 box">
                <div class="col-lg-12 coulTitre">
                    <h3 class="titreBox2">Ambulance Légère</h3>
                </div>
                <div class="col-lg-10 resa">
                    <button type="button" class="btn btn-primary">Je réserve</button>
                </div>
                <img src="{{ asset('img/ambu_legere.jpg') }}" alt="" class="img-fluid">

            </div>
            <div class="col-12 col-lg-4 box">
                <div class="col-lg-12 coulTitre">
                    <h3 class="titreBox3">Véhicule sanitaire léger</h3>
                </div>
                <div class="col-lg-10 resa">
                    <button type="button" class="btn btn-primary">Je réserve</button>
                </div>
                <img src="{{ asset('img/vsl.jpeg') }}" alt="" class="img-fluid">

            </div>
        </div>
    </article>


{% endblock %}
{% block footer %}
    <div class="container-fluid d-flex justify-content-center  footer">
        <div class="row justify-content-between align-items-center">
            <div class="col-1">
                <a href="">
                    <img src="{{ asset('img/fleche.png') }}" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-1">
                <img src="{{ asset('img/ambulance_icone.png') }}" alt="" class="img-fluid">
            </div>
            <div class="col-1">
                <a href="https://www.facebook.com/pages/Sarl-Ambulances-Groupe-33/1205770899520102">
                    <img src="{{ asset('img/facebook.png') }}" alt="" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
{% endblock %}