{% extends "@App/BaseAdmin/base.html.twig" %}

{% block content %}

    <div class="container-fluid  fondEmp">
        <div class="container  menuEmp ">
            <div class="row text-center">
                <div class="col-md-12 d-lg-flex navEmp">

                    <div class="col-md-4 d-none d-lg-block">
                        <h4>
                            <a href="#" class="">Profil employé</a>
                        </h4>
                    </div>
                    <div class="col-md-4 d-none d-lg-block">
                        <h4>
                            <a href="#">Liste d'information</a>
                        </h4>
                    </div>
                    <div class="col-md-4 d-none d-lg-block">
                        <h4>
                            <a href="#" class="aEmpDoc">Liste documents</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class=" col-md-12   mt-5">
                <div class="col-md-12  text-center">
                    <h3>Vous êtes sur la page administrateur</h3>
                    <a href="{{ path('admin_form_employes') }}">
                        <button type="button" class="btn btn-outline-info">Ajouter un employé</button>
                    </a>
                </div>
                <div class="row d-flex ">
                    <div class="offset-1 col-1">
                        <h4>Nom</h4>
                    </div>
                    <div class="offset-1 col-1">
                        <h4>Prénom</h4>
                    </div>
                    <div class="offset-2 col-3">
                        <h4>Pseudo</h4>
                    </div>
                </div>
                <div class="scroll col-12 ">
                    {% for user in users %}
                        <div class=" d-flex text-center  justify-content-between col-md-12 mt-2">
                            <div class="col-2">
                                <p>{{ user.nom }}</p>
                            </div>
                            <div class="col-2">
                                <p> {{ user.prenom }}</p>
                            </div>
                            <div class="col-2">
                                <p> {{ user.username }}</p>
                            </div>
                            <div class="col-4">

                                <a href="{{ path('admin_update_emp_form', {'id': user.id}) }}">
                                    <button type="button" class="btn btn-outline-success mr-2">MODIFIER</button></a>

                                <a href="{{ path('admin_employe_supprimer', {'id': user.id }) }}">
                                    <button type="button" class="btn btn-outline-danger">SUPPRIMER</button>
                                </a>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>






{% endblock %}